body{
    max-width: 665px;
    text-align: center;
    margin: 0 auto;
}
#img-container{
    /* margin: 0 auto; */
    /* text-align: center; */
}
a{
    text-decoration: none;
    color: red;
    font-weight: 800px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.header-menu{
    display:flex;
    justify-content: space-around;
}
.li-main{
    display: inline-block;
}
li{
    list-style-type: none;
}
h2{ 
    text-transform: uppercase; 
}
#cklick-butt{
    background-color: red;
    border-radius: 5%;
    height: 35px;
    width: 150px;
    color: white;
    cursor: pointer;
}